*
{
    padding: 0;
    margin: 0;
}
.container
{
    min-width: 480px;
    margin: 0 auto;
}
body
{
    font-size: 12px;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul
{
    display: flex;
}
li
{
    list-style-type:none ;
}
.menu
{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.menu li
{
    list-style-type:none ;
    margin-left: 30px ;
}
#menu1
{display: flex;}
#menu1 
{
    display: flex;
    align-items: center;
}

a
{
    box-sizing: inherit;
    cursor: pointer;    
}
a:link,a:visited
{
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 8px 0;
    border-bottom: 2px solid transparent ;
}
a:active
{
    border: 1px dotted  black;
    color: #262626;
    display: inline-block;
}
a:hover
{
    border-bottom-color:black ;
}

#menu1 img
{
    max-width: none;
    width: 137px;
}
#menu2
{
    display: flex;
    align-items: center;
    position: relative;
}


.sub-menu
{
    position: absolute;
    top: 100%;
    right: 0%;
    padding: 0;
    width: 200%;
    border: 0px solid;
    background-color: rgb(238, 235, 235);
    display: none;
}


.sub-menu ul
{
    display: block;
    list-style-type:none ;
    margin-right:50px;
    width: 20%;
}



.sub-menu li
{
    width: 100%;
    padding-top: 10px;
}
#menu2>ul>li:hover .sub-menu
{
    display: flex;
}


#image1 >img
{
    max-width: 100%;    
}
.item
{
    display: grid;
    grid-template-columns: repeat(4,25%);
    
}
.subitem
{
    padding: 40px 0;
    margin-right: 10px;
}   
/* .subitem:nth-child(4)
{
    margin-right: 0;
} */
.subitem img
{
    width: 100%;
}
.subitem:hover
{
    opacity: 0.9;
}
#image2 img
{
    width: 100%;
}

.footer
{
    background-color:#f3f3f3;
   
}
.footer2
{
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(6,16.66667%);
    margin: 0 auto;
}
.footer ul
{
    display: block;
    margin: 20px 0;
}
.footer li
{
    margin: 7px 0;
}
.footer2
{
    font-size: 10px;
}
.footer2 a
{
    padding: 0;
        
}
.footer2 a:hover
{
    border-bottom: 1px solid #000;
}



@media screen and (min-width: 400px)
{
    .container
    {
        max-width: 920px;
    }
    #menu1
    {
        margin-left: 30px;
    }
    #menu1>ul>li a
    {
        display: none;
    }
    #menu2
    {
        margin-right: 20px;
    }
    #menu2>ul>li a
    {
        display: none;
    }
    .item
    {
        grid-template-columns: repeat(1,100%);
        padding: 30px;
    }

    .footer2
    {
        grid-template-columns: repeat(1,100%);
        margin-left: 20px;
    }
    #menu2>ul>li:hover .sub-menu
    {
        display: none;
    }
  
}





@media screen and (min-width: 720px)
{
    .container
    {
        max-width: 1000px;
        width: 100%;
        margin:0 auto;
    }
    #menu1
    {
        margin-left:30px ;
    }
    #menu1>ul>li a
    {
        display: inline;
    }
    #menu2
    {
        margin-right: 30px;
    }
    #menu2>ul>li a
    {
        display:none ;
    }
    #menu2>ul>li:nth-child(1) a
    {
        display: inline;
    }

    .sub-menu
    {
        right: 30%;
        width: 300%;
    }

    .item
    {
        grid-template-columns: repeat(2,50%);
        padding: 10px 40px;
    }
    .footer2
    {
        grid-template-columns: repeat(3,33.334%);
    }
}

@media screen and (min-width:1200px)
{
    .container
    {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }
    #menu1
    {
        margin: 0;
    }
    #menu2 >ul>li a
    {
        display: inline;
    }
    #menu1>ul>li a
    {
        display: inline;
    }
    .item
    {
        grid-template-columns: repeat(4,25%);
        padding: 0;
    }
    .sub-item
    {
        padding: 40px 0;
    }
    .footer2
    {
        grid-template-columns: repeat(6,16.66667%);
        margin: 0 auto;
    }
}